ul{
    height: 20px;
    width: 300px;
    background: rgb(51, 192, 117);
    border-radius: 5px;
    margin: 0 auto;
}

ul>li{
    float: left;
    margin-right: 20px;
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
}
ul>li.active{
  background: rgb(246, 246, 245);
  display: block;
}

.box{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background: rgb(246, 246, 245);
}

.content{
    text-align: center;
    padding-top: 21%;
    font-size: 55px;
    display: none;
}
.content.active{
  display: block;
}